* {
    padding: 0;
    margin: 0;
}

/*Navbar styling*/
.navbar {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
}

.navbar ul li {
    list-style: none;
    color: white;
    padding: 10px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
}

.navbar ul #logo {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header styling*/
header {
    width: 100%;
    height: 450px;
    background-image: url("https://media.giphy.com/media/HG66wqdGpiLeP5uwzO/giphy.gif");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-family: 'Russo One', sans-serif;
    font-size: 100px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
    padding: 10px 0;
}

/*Weather section*/
.forecast {
    height: 600px;
    width: 100%;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    display: flex;
    flex-direction: column;
}

.forecast h1 {
    padding: 10px 0 0 0;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 80px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
}

.forecast ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

#bigger-days li {
    font-size: 15px;
    padding: 0 50px;
}

#smaller-days li {
    font-size: 8px;
    padding: 0 70px;
}

.forecast ul li {
    color: white;
    list-style: none;
    text-align: center;
}

/*Energy section*/
.energy {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    font-family: 'Russo One', sans-serif;
    color: white;
}

.energy h1 {
    padding: 10px 0 0 0;
    text-align: end;
    color: white;
    padding: 20px;
    font-size: 80px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
}

.energy p {
    position: absolute;
    top: 175px;
    left: 100px;
    font-size: 20px;
}

.energy p span {
    font-size: 60px;
}


/*Weather section*/
.battery {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.battery h1,
.battery p {
    font-family: 'Russo One', sans-serif;
    color: white;
    z-index: 2;
}

.battery h1 {
    position: absolute;
    top: 20px;
    margin: 20px;
    font-size: 80px;
    text-decoration-line: underline;
    text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
}

.battery p {
    position: absolute;
    margin: 20px;
    width: 400px;
    top: 120px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {

    /*Navbar styling*/
    .navbar {
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 40px;
    }

    .navbar ul {
        justify-content: space-around;
        align-items: center;
        margin: 0 10px;
    }

    .navbar ul li {
        padding: 10px;
        letter-spacing: 2px;
        font-size: 12px;
    }

    .navbar ul #logo {
        font-size: 12px;
        text-align: center;
    }

    /*Header styling*/
    header {
        width: 100%;
        height: 100px;
        background-image: url("https://media.giphy.com/media/HG66wqdGpiLeP5uwzO/giphy.gif");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        text-align: center;
        color: white;
        font-family: 'Russo One', sans-serif;
        font-size: 30px;
        letter-spacing: 8px;
        text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
        padding: 10px 0;
    }

    /*Weather section*/
    .forecast {
        height: 600px;
    }

    .forecast h1 {
        padding: 10px 0 0 0;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 40px;
    }

    .forecast ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #bigger-days li {
        font-size: 10px;
        padding: 0 10px;
    }

    #smaller-days li {
        font-size: 5px;
        padding: 0 20px;
    }

    .forecast ul li {
        color: white;
        list-style: none;
        text-align: center;
    }

    /*Energy section*/
    .energy {
        height: 400px;
    }

    .energy h1 {
        padding: 10px 0 0 0;
        text-align: end;
        color: white;
        padding: 20px;
        font-size: 40px;
    }

    .energy p {
        position: absolute;
        top: 175px;
        left: 25px;
        font-size: 10px;
    }

    .energy p span {
        font-size: 35px;
    }

    /*Weather section*/
    .battery {
        position: relative;
        height: 400px;
        width: 100%;
        background-color: black;
        overflow: hidden;
    }

    .battery h1,
    .battery p {
        font-family: 'Russo One', sans-serif;
        color: white;
        z-index: 2;
    }

    .battery h1 {
        position: absolute;
        top: 20px;
        margin: 20px;
        font-size: 40px;
        text-decoration-line: underline;
        text-shadow: 2px 2px 5px rgb(106, 157, 31), -2px -2px 5px rgb(36, 157, 255);
    }

    .battery p {
        position: absolute;
        margin: 20px;
        width: 300px;
        right: 0;
        top: 120px;
        font-size: 15px;
        text-align: right;
    }
}